.bg-top-container {
    background-color:#4d8975;
    height:100vh;
    width:cover;
    text-align:center;
}
.bg-container {
    position:absolute;
    top:150px;
    left:200px;
    right:100px;
    bottom:100px;
    padding:10px;
    background-color:#ffffff;
    border-radius:20px;
    text-align:center;
}
.main-heading {
    position:absolute;
    left:7.34%;
    right:82.58%;
    top:3.75%;
    bottom:88.19%;
    font-family:"Inter";
    font-style:normal;
    font-weight:500;
    font-size:48px;
    line-height:58px;
    color:#ffffff;
}
.second-heading {
    
    margin: top 20px;
    
    font-family:"Inter";
    font-style:normal;
    font-weight:800;
    font-size:24px;
    
    color:#000000;

}
.third-heading {
    position:absolute;
   
    font-family:"Inter";
    font-style:normal;
    font-weight:500;
    font-size:12px;
    
    color:#000000;
}
.fourth-heading {
    position: absolute;
    
    font-family:"Inter";
    font-style:normal;
    font-weight:500;
    font-size:12px;
   
    color:#000000;
}
.button {margin-top:50px;
    left:236x;
    right:247px;
    top:384px;
    bottom:194px;
    font-family:"Inter";
    font-style:normal;
    font-weight:800;
    font-size:18px;
    
    color:#ffffff;
    background-color:#4d8975;
    border-radius:25px;
    height:30px;
    width:100px;
    border-width:0px;
}